@model IEnumerable<WebEscola.Models.Departamento >
@{
    ViewData["Title"] = "Departamentos";
}
<h1> Departamentos </h1>
<p>
    <a asp-action="Create"> Adicionar Departamento </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orcamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrutor)
            </th>
            <th>
                Versão
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orcamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instrutor.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RowVersion[ 7 ])
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartamentoID"> Editar </a> |
                    <a asp-action="Details" asp-route-id="@item.DepartamentoID"> Detalhes </a> |
                    <a asp-action="Delete" asp-route-id="@item.DepartamentoID"> Excluir </a>
                </td>
            </tr>
        }
    </tbody>
</table>